git+https://github.com/Gorialis/jishaku
git+https://github.com/Rapptz/discord.py
cashews
anyio
aiomisc
aiohttp
asyncpg
cashews
cairosvg
anyio
colorthief
tornado
playwright
pydantic
aiomisc
bs4
xxhash
lru-dict
redis
rich
boltons
asyncspotify
rapidfuzz
dateparser
pomice
arrow
roblox
shazamio
stackprinter
validators
psutil
asyncpraw
humanfriendly
humanize
wand